 div.aa
 {
   text-align: center;
   font-family: Courier New, monospace;
   margin-top:10px ;
   padding: 0;
 }

img
 {
   border-radius: 50%;
   display: block;
   margin-left: auto;
   margin-right: auto;
 }
h2 
{
  text-align: center;
  font-family: Courier, monospace;
  text-shadow: 2px 2px 5px red;
}

div.ab
 {
   text-align: center;
   font-family: Courier New, monospace;
   margin-top:30px ;
   padding: 0;
   margin-left: 20px ;
   margin-right: 20px ;
   
 }